/* PHASE 2: Navigation */

.header-logo {
  float: left;
}

.header-logo:hover {
  background: darkgray;

}

.header-list {
  float: right;
}

.header-list > li {
  float: left;
}

.header-list > li:hover {
  background: darkgray
}